body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    color: black;
}

#bg_image {
    background: url('https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2024&q=80');
    background: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1000000;
}

/*
img{
    width: 30%;
    margin: 1em 1em 0 0;
    border-radius: 1em;
    align-content: center;
}
*/

.image_container{
    width: 30%;
    height: 400px;
    margin: 1em 1em 0 0 ;
    overflow: hidden;
    border-radius: 1em;
    align-content: center;
    position: relative;
}
