@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
body{
    overflow-x: hidden;
/*    overflow-y: hidden;*/
/*    background-color: black;*/
    background: url('https://images.unsplash.com/photo-1608501947097-86951ad73fea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80') center top no-repeat;
    background-size: cover;
}
.bg_mage {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 40vh;
    background: url('../images/musiclab/banner_logo.png') center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    z-index: -999999;
    position: absolute;
    clear: both;
}

.copyright {
/*    position: absolute;*/
    bottom: 1vh;
    width: 100%;
    height: 50px;
    text-align: center;
/*    transform: translateX(-50%);*/
    color: white;
    font-size: 0.7em;
    font-family: "Poppins";
}

.copyright a {
    color: white;
}

h1 {
    text-align: center;
    color: white;
    margin: 2vh auto;
    font-size: calc(4vh + 1vw);
    font-family: "Poppins";
}

a,
a:visited {
    color: white;
    text-decoration: underline;
}

h1, h2 {
    
}

p{
    font-size: 1em;
    color: white;
}

h2 {
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 2vh;
    font-size: calc((4vh + 1vw)/2);
    
}

#jmllogo {
    display: block;
    width: calc(4vh + 4vw);
    margin: 2vh auto 0 auto;
    clear: both;
}

#videos{
    margin-top: 20vh;
}

.video_container {
    width: 31%;
    margin: 0% 1% 0 1%;
    float: left;
}
/*

.video_container a img {
    height: 200px;
}
*/


.color {    
    animation: col 8s linear infinite;
}

.st0 {
    fill: white;
}

@keyframes col {

    0%,
    10% {
        fill: #fc5c65
    }

    10%,
    20% {
        fill: #fd9644
    }

    20%,
    30% {
        fill: #fed330
    }

    30%,
    40% {
        fill: #26de81
    }

    40%,
    50% {
        fill: #2bcbba
    }

    50%,
    60% {
        fill: #26de81
    }

    60%,
    70% {
        fill: #2bcbba
    }

    70%,
    80% {
        fill: #fed330
    }

    80%,
    90% {
        fill: #fd9644
    }

    90%,
    100% {
        fill: #fc5c65
    }
}

@media screen and (max-width:768px){

    #videos{
        margin-top: 25vh;
    }
    .video_container {
        width: 100%;
        margin: 1%;
        float: left;
    }
    
}
