@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,200&display=swap');


body {
    overflow-x: hidden;
    
}


.bg_bg {
    width: 100%;
    height: 100%;
    z-index: -1000000;
    background: url('../images/musiclab/bg.jpg') center center;
    background-size: cover;
    position: fixed;
}

.bg_mage {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 40vh;
    background: url('../images/musiclab/banner_logo.png') center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    z-index: -999999;
    position: absolute;
    clear: both;
}

.copyright {
    /*    position: absolute;*/
    bottom: 1vh;
    width: 100%;
    height: 50px;
    text-align: center;
    /*    transform: translateX(-50%);*/
    color: white;
    font-size: 0.7em;
    font-family: "Poppins";
}

.copyright a {
    color: white;
}

h1,
h2 {
    text-align: center;
    color: white;
    margin: 1vh auto 0 auto;
    font-size: calc(4vh + 1vw);
    font-family: "Poppins";
}

a,
a:visited {
    color: white;
    text-decoration: underline;
}

p,
.video_container p {
    font-size: 1.2em;
    color: white;
    font-family: "Poppins";
}



p.follow_text {
    text-align: center;
    margin-bottom: 0;
    font-size: 1em;
}

.shadow {
    text-shadow: 0 0 10px #000;
}

a.blue {
    color: #06D0FF;
}

a.red {
    color: red;
}


h2 {
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 2vh;

}

#jmllogo {
    display: block;
    width: calc(4vh + 4vw);
    margin: 2vh auto 0 auto;
    clear: both;
}

#videos {
    margin-top: 20vh;
}

#video-title {
    font-size: 0.8em;
    line-height: 1.1;
}

.video_container {
    width: 31%;
    margin: 0 1% 0 1%;
    float: left;
    padding: 0 0 0 0;
}

.video_container a img {
    width: calc(15vw + 10vh);
    height: calc(8.4vw + 3.92vh);
    object-fit: cover;
    margin-top: 0;
}


.color {
    animation: col 8s linear infinite;
}

.st0 {
    fill: white;
}

@keyframes col {

    0%,
    10% {
        fill: #fc5c65
    }

    10%,
    20% {
        fill: #fd9644
    }

    20%,
    30% {
        fill: #fed330
    }

    30%,
    40% {
        fill: #26de81
    }

    40%,
    50% {
        fill: #2bcbba
    }

    50%,
    60% {
        fill: #26de81
    }

    60%,
    70% {
        fill: #2bcbba
    }

    70%,
    80% {
        fill: #fed330
    }

    80%,
    90% {
        fill: #fd9644
    }

    90%,
    100% {
        fill: #fc5c65
    }
}

@media screen and (max-width:768px) {

    #videos {
        margin-top: 25vh;
    }

    .video_container {
        width: 100%;
        margin: 1%;
        float: left;
    }

    .video_container a img {
        width: 100vw;
        height: 49vw;
        object-fit: cover;
        margin-top: 0;
    }

}
